* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url(../fonts/CormorantGaramond-Regular.ttf);
}

html {
    font-family: "Cormorant Garamond";
    font-size: 62.5%;
}

body {
    background-color: #E9E9E0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

/* ===== Typography ===== */

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 5.45rem;
    padding: 0.188rem 0 1.25rem 0;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.938rem;
}

h2 {

}

h3 {

}

h4 {

}

/* ===== Typography End ===== */

header ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0.625rem;
    border: 0.313rem solid;
    border-left: 0;
    border-right: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section {
    display: flex;
}

section img {
    width: 46.9rem;
    height: 58.625rem;
}